body{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 0%);
} 

h1{
    color: hsl(199, 92%, 61%);
} 

form{
    background-color: hsl(0, 0%, 11%);
    text-align: center;
    max-width: 350px; 
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.31); 
    position: relative;
    z-index: 2;
}  

#particles-js {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%; 
    z-index: 0;
}   


#textBox{
    width: 50%;
    text-align: center;
    font-size: 1em;
    border: 2px solid   hsla(0, 0%, 0%, 0.811);
    border-radius: 4px;
    margin-bottom: 15px;
} 

label{
    font-size: 1.5em;
    font-weight: bold;
} 

button{
    margin-top: 15px;
    background-color: hsl(115, 78%, 72%);
    color: snow;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
} 

button:hover{
    background-color:  hsl(115, 78%, 62%);
} 

#result{
    font-size: 1.75em;
    font-weight: bold;
}